### Pythos Basics

[Python Basic Exercise for Beginners](https://pynative.com/python-basic-exercise-for-beginners/)

In [ ]:
# Import libraries
import numpy as np

Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [ ]:
def function(num1, num2):
    product = np.dot(num1, num2)
    if product <= 1000:
        res = product
    else:
        res = num1 + num2
    return print(f"The result is: {res}")

function(20, 30)
function(40, 30)
function(150, 1000)

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [ ]:
def function(nums: list):
    if len(nums) < 10:
        print("The list is too short")
        return

    print("Printing current and previous number and their sum in a range(10)")
    for i in range(10):
        curr_sum = 0
        if i == 0:
            curr_sum += nums[i]
            print(f"Current number {nums[i]} Previous number {0} Sum {curr_sum}")


        else:
            curr_sum += nums[i]
            print(f"Current number {nums[i]} Previous numebr {nums[i - 1]} Sum {curr_sum}")

    return
function([1, 2,3 ])
function([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
function([])
function([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

Exercise 3: Print characters from a string that are present at an even index number

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [ ]:
def function(string):
    for i in range(len(string)):
        if i % 2 == 0:
            print(string[i])
    return

function("pynative")

Exercise 4: Remove first n characters from a string

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

`remove_chars("pynative", 4)` so output must be tive. Here, we need to remove the first four characters from a string.

`remove_chars("pynative", 2)` so output must be native. Here, we need to remove the first two characters from a string.

Note: n must be less than the length of the string.

In [ ]:
def function(string, n):
    ans = ""
    for i in range(n, len(string)):
        ans += string[i]
    return print(ans)


function("pynative", 4)
function("pynative", 2)

Exercise 5: Check if the first and last number of a list is the same


Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
def function(nums):
    return nums[0] == nums[len(nums) - 1]

print(function([10, 20, 30, 40, 10]))

nums_y = [75, 65, 35, 75, 30]
print(function([75, 65, 35, 75, 30]))

Exercise 6: Display numbers divisible by 5 from a list

Iterate the given list of numbers and print only those numbers which are divisible by 5

In [ ]:
# n = 5
def function(nums: list, n):
    if len(nums) == 0:
        print("The list is empty.")
    for i in range(len(nums)):
        if nums[i] % n == 0:
            print(nums[i])
    return

function([10, 20, 33, 46, 55], 5)
function([10, 20, 33, 46, 55], 3)
function([], 5)

***Exercise 7: Return the count of a given substring from a string***

Write a program to find how many times substring “Emma” appears in the given string.

In [ ]:
# Wrong answer
def function(string, sub):
    count = 0
    curr_word = ""
    for i in range(len(string)):
        while i != " ":
            curr_word += string[i]

            if len(curr_word) == len(sub):
                for j in range(len(curr_word)):
                    if curr_word[j] != sub[j]:
                        curr_word = ""
                    else:
                        count += 1
                        curr_word = ""

            else:
                curr_word = ""

    return count

# function("Emma is good developer. Emma is a writer", "Emma")

Exercise 8: Print the following pattern

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
# Follow up: Do I return for the given number or all the numbers prior to the given number as well?

def function(num):
    for n in range(num + 1):
        ans = ""
        for i in range(n):
            ans += str(n)
        print (" ".join(ans))

function(5)

Exercise 9: Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

In [ ]:
def function(num):
    num_str = str(num)
    left = 0
    right = len(num_str)-1

    while left <= right:
        if num_str[left] != num_str[right]:
            print(f"Original number{num}")
            print(f"No, given number is not palindrome number")
            return
        left += 1
        right -= 1
    print(f"Original number{num}")
    print(f"Yes, given number is palindrome number")
    return

function(1234)
function(23432)
function(1)
function(234515432)

In [ ]:
# Other solution:
# Reverse the given number and save it in a different variable
# Use the if condition to check if the original and reverse numbers are identical. If yes, return True.
def palindrome(number):
    print("original number", number)
    original_num = number

    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

Exercise 10: Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [ ]:
def function(list1, list2):
    result = []

    # Odd numbers from list 1
    for i in range(len(list1)):
        if list1[i] % 2 != 0:
            result.append(list1[i])
    for i in range(len(list2)):
        if list2[i] % 2 == 0:
            result.append(list2[i])
    return result

list1 = [10, 20, 25, 30, 35]
list2 = [40, 50, 60, 75, 90]
print(f"Result list:{function(list1, list2)}")


list1 = [11, 12, 12, 34, 95]
list2 = []
print(f"Result list:{function(list1, list2)}")

list1 = []
list2 = [40, 50, 60, 75, 90]
print(f"Result list:{function(list1, list2)}")

# Follow up: Is the output list sorted?

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
def function(num):
    num_str = str(num)
    output = ""
    for i in num_str:
        output = output + i + " "

    return output

print(f"The output is {function(1234)}")

Exercise 12: Calculate income tax for the given income by adhering to the rules below

Taxable Income	Rate

First $10,000	0

Next $10,000	10

The remaining	20

In [ ]:
def function(income):
    tax = 0
    if income <= 10000:
        tax = 0
    elif 10000 < income <= 20000:
        tax = (income - 10000) * 0.1
    else:
        tax = (10000*0.1) + ((income - 20000) * 0.2)
    return tax

print("The owed tax is:", function(480000))

Exercise 13: Print multiplication table from 1 to 10

In [ ]:
def function(num):
    for n in range(1, num + 1):
        output = ""
        for i in range(1, 11):
            output += str(n*i) + " "
        print(output)

function(10)

Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)

In [ ]:
def function(length):
    output = ""
    for i in range(length, 0, -1):
        output = i*("*" + " ")
        print(output)


function(1)
print("=============")
function(2)
print("=============")
function(0)
print("=============")
function(7)

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

In [ ]:
def function(base, exp):
    if exp < 0:
        return "The exp should be non-negative"

    elif exp == 0:
        print(f"{base} to the power of {exp}: 1")

    else:
        output = 1
        for i in range(exp):
            output *= base
        print(f"{base} to the power of {exp}: {output}")

function(2, 5)
function(5, 4)
function(8, 2)

### Python Functions

[Python Functions Exercise](https://pynative.com/python-functions-exercise-with-solutions/)

Exercise 1: Create a function in Python

Write a program to create a function that takes two arguments, name and age, and print their value.

In [ ]:
def function(name, age):
    print(f"Name: {name}, age: {age}")

function("Elaheh", 34)

Name: Elaheh, age: 34

Exercise 2: Create a function with variable length of arguments

Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function, and the function should process them and display each argument’s value.

In [ ]:
 def function(*args):
    print("Printing values")
    for x in args:
        print(x)
    return

function(20)
function(3, 4, 5)

Printing values
20
Printing values
3
4
5

Exercise 3: Return multiple values from a function

Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [ ]:
def function(num1, num2):
    addition = num1 + num2
    subtraction = np.absolute(num1 - num2)

    print(addition, ",", subtraction)

function(40, 50)

90 , 10

Exercise 4: Create a function with a default argument

Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def function(name, salary = 9000):
    print(f"Name: {name}, salary: {salary}")

function("Ben", 12000)
function("Jess")

Name: Ben, salary: 12000
Name: Jess, salary: 9000

Exercise 5: Create an inner function to calculate the addition in the following way

In [ ]:
def outer_function(num1, num2):
    def inner_function(num1, num2):
        return num1 + num2
    return inner_function(num1, num2) + 5

print(f"Final result is {outer_function(3, 4)}")

Final result is 12

**Exercise 6: Create a recursive function**

Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself again and again.

Expected Output:

In [ ]:
def rec_function(num):
    if num == 0:
        return 0
    else:
        return num + rec_function(num-1)

print(rec_function(6))

21

Exercise 7: Assign a different name to function and call it through the new name

In [ ]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student
show_student("Elaheh", 34)

Emma 26
Elaheh 34

Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
# Follow up: Inclusinve of 30 or not?

def function(start, end):
    output = []
    for i in range(start, end):
        if i % 2 == 0:
            output.append(i)
    return output

function(4, 30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 9: Find the largest item from a given list

In [ ]:
def function(nums):
    return max(nums)

x = [4, 6, 8, 24, 12, 2]
function(x)

24

### Python Data Structure


[Python Data Structure Exercise for Beginners](https://pynative.com/python-data-structure-exercise-for-beginners/)

In [ ]:
# Follow up: what is the order of the output list?
def function(nums1, nums2):
    output_1 = []
    output_2 = []
    # Odd index from list 1
    for i in range(len(nums1)):
        if i % 2 != 0:
            output_1.append(nums1[i])
    print("Element at odd-index positions from list one")
    print(output_1)

    # Even index from list 2
    for i in range(len(nums2)):
        if i % 2 == 0:
            output_2.append(nums2[i])
    print("Element at even-index positions from list two")
    print(output_2)

    print("Printing the final third list")
    print(output_1 + output_2)

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
function(l1, l2)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing the final third list
[6, 12, 18, 4, 12, 20, 28]

Exercise 2: Remove and add item in a list

Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [ ]:
def function(nums, idx, pos):
    temp = nums.pop(idx)
    print(f"List After removing element at index {idx} {nums}")

    nums.insert(pos, temp)
    print(f"List After adding element at index {pos} {nums}")

    nums.append(temp)
    print("List After adding element at last", nums)

l = [34, 54, 67, 89, 11, 43, 94]
function(l, 4, 2)

List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List After adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List After adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

*Exercise 3:* Slice list into 3 equal chunks and reverse each chunk

In [ ]:
def function(nums_list, num):
    length = len(nums_list)
    chunk_size = int(length/num)
    start = 0
    end = chunk_size

    for i in range(num):
        indexes = slice(start, end)
        chunk = nums_list[indexes]

        print(f"Chunk {i} {chunk}")
        reversed_chunk= chunk[::-1]
        print(f"After reversing it {reversed_chunk}")

        start = end
        end += chunk_size

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
function(sample_list, 3)

Chunk 0 [11, 45, 8]
After reversing it [8, 45, 11]
Chunk 1 [23, 14, 12]
After reversing it [12, 14, 23]
Chunk 2 [78, 45, 89]
After reversing it [89, 45, 78]

Exercise 4: Count the occurrence of each element from a list

Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

In [ ]:
def function(nums_list):
    counts = {}
    for i in nums_list:
        if i in counts.keys():
            counts[i] += 1
        else:
            counts[i] = 1
    return counts

sample = sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count_dict = function(sample)
print("The output is:", count_dict)

The output is: {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Exercise 5: Create a Python set such that it shows the element from both lists in a pair

In [ ]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

def function(list_1, list_2):
    output = [None]*len(first_list)
    for i in range(len(list_1)):
            output[i] = (list_1[i], list_2[i])
    return set(output)

print("The output of solution 1 is", function(first_list, second_list))

# Solution 2: Zip function:
result = zip(first_list, second_list)
result_set = set(result)
print('The output of solution 2 is:', result_set)

The output of solution 1 is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}
The output of solution 2 is: {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

In [ ]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

def function(set_1, set_2):
    intersection = set()
    update_set_1 = set()
    for item in set_1:
        if item in set_2:
            intersection.add(item)
        else:
            update_set_1.add(item)
    return update_set_1, intersection

sample_1 , intersection_ = function(first_set, second_set)
print('Intersection is', intersection_)
print('First set after removing common element:', sample_1)

# Solution 2
intersection = first_set.intersection(second_set)
print("Intersection is ", intersection)
for item in intersection:
    first_set.remove(item)

print("First Set after removing common element ", first_set)

First Set  {65, 83, 23, 57, 42, 29, 78}
Second Set  {48, 67, 83, 73, 43, 29, 57}
Intersection is {57, 83, 29}
First set after removing common element: {65, 42, 78, 23}
Intersection is  {57, 83, 29}
First Set after removing common element  {65, 23, 42, 78}

Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [ ]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

def function(firts_set, second_set):
    if first_set.issubset(second_set):
        first_set.clear()
        print("First set is subset of second set - True")
        print("Second set is subset of first set - False")
        print("First set is Super set of second set - False")
        print("Second set is Super set of First set - True")
    elif second_set.issubset(first_set):
        second_set.clear()
        print("First set is subset of second set - False")
        print("Second set is subset of first set - True")
        print("First set is Super set of second set - True")
        print("Second set is Super set of First set - False")
    else:
        pass
    print(f"First Set: {first_set} \nSecond Set: {second_set}")

function(first_set, second_set)


# Solution 2
first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("First set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ", first_set)
print("Second Set ", second_set)

First set is subset of second set - True
Second set is subset of first set - False
First set is Super set of second set - False
Second set is Super set of First set - True
First Set: set()
Second Set: {48, 34, 53, 22, 27, 43, 93}
First Set  {57, 83, 29}
Second Set  {48, 67, 83, 73, 43, 29, 57}
First set is subset of second set - True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  True
First Set  set()
Second Set  {48, 67, 83, 73, 43, 29, 57}

Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [ ]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'John':47,
               'Emma':69,
               'Kelly':76,
               'Jason':97}

def function(sample_list, sample_dict):
    final_list = []
    for i in range(len(sample_list)):
        if sample_list[i] in sample_dict.values():
            final_list.append(sample_list[i])
    print(f"After removing unwanted elements from list {final_list}")

function(roll_number, sample_dict)

# Solution 2: List comprehension
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}

print("List:", roll_number)
print("Dictionary:", sample_dict)

# create new list
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

After removing unwanted elements from list [47, 69, 76, 97]
List: [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
after removing unwanted elements from list: [47, 69, 76, 97]

The list comprehension `[item for item in roll_number if item in sample_dict.values()]` iterates over each item in the roll_number list.
if `item` in `sample_dict.values()` checks if the current `item` exists in the values of sample_dict.

Filtered List:
Only the items in `roll_number` that are also values in `sample_dict` are included in the new list.

Updating roll_number:
`roll_number[:] = [...]` updates the original roll_number list in place with the filtered list.
The slice notation `[:]` ensures that the original list is modified rather than creating a new list.

Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [ ]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

def function(sample_dict):
    output = []
    for i in sample_dict.values():
        if i not in output:
            output.append(i)
    return output

function(speed)

[47, 52, 44, 53, 54]

Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [ ]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

def function(sample_list):
    output = []
    for i in sample_list:
        if i not in output:
            output.append(i)
    print(f"tuple {tuple(output)} \nmin:{min(output)} \nmax:{max(output)}")

function(sample_list)

tuple (87, 45, 41, 65, 94, 99)
min:41
max:99

### Python Date and Time

[Python Date and Time Exercise with Solutions](https://pynative.com/python-date-and-time-exercise/)

Below is the list of standard libraries we can use to work with date and time.

**datetime:** The datetime is a built-in module that provides functions to handle many complex functionalities involving the date and time. It has a date, time, timezone, and timedelta classes to work with date and time.

**calendar:** In Python, a calendar is a built-in module to work with calendar-related activities and operations. In the calendar module, by default, Monday is the first day of the week, and Sunday is the last day of the week as per the Gregorian calendar.

**time:** time module provides a different function to work with time-related activities where dates are not needed.

Python provides the dir() function to list all attributes and functions of a module. Let's see the constants and classes of a datetime module.
```
import datetime
print(dir(datetime))
```
**Date Class in DateTime**

We can represent the date object using the date class and the date class initializes the native date. It always considers the Gregorian calendar. The constructor of the date class takes three parameters which include year, month, and day.
Syntax to create a date object:

`datetime.date(year, month, day)`

The arguments should be in the following range :

```
MINYEAR <= year <= MAXYEAR
1 <= month <= 12
1 <= day <= number of days in the given month and year
```

If we pass an argument outside of given ranges, ValueError is raised.

**Time Class**

As you know, the datetime object contains both date and time. To work only with time, we can use the time class from the datetime module.

To represent the local time, we can instantiate the time object from the time class. The arguments for time class are optional.

Syntax to create a time object:

`datetime.time(hour, minute, second, microsecond, tzinfo, *, fold)`

The arguments should be in the following range:

```
0 <= hour < 24,
0 <= minute < 60
0 <= second < 60
0 <= microsecond < 1000000
fold in [0, 1]
tzinfo is the timezone information.
```

If we pass an argument outside of given ranges, ValueError is raised.

**Datetime Class**

The datetime class contains information about both date and time. It Assumes the Gregorian Calendar and there are 360*24 seconds every day.

`datetime.datetime(year, month, day, hour, minute=0, second, microsecond, tzinfo=None)`

Arguments must be integers in the following ranges:

```
MINYEAR <= year <= MAXYEAR,
1 <= month <= 12,
1 <= day <= number of days in the given month and year,
0 <= hour < 24,
0 <= minute < 60,
0 <= second < 60,
0 <= microsecond < 1000000,
fold in [0, 1].
```
If we pass an argument outside of given ranges, ValueError is raised.

Exercise 1: Print current date and time in Python

In [ ]:
from datetime import datetime

print(f"The date and time is {datetime.now()}")
print(f"The time is {datetime.now().time()}")

# Solution 2
from time import gmtime, strftime
print("The date is", strftime("%Y-%m-%d %H:%M:%S", gmtime()))

The date and time is 2024-05-29 03:13:51.590543
The time is 03:13:51.590714
The date is 2024-05-29 03:13:51

[Python String to DateTime using strptime()](https://pynative.com/python-string-to-datetime-strptime/)

**Convert String to DateTime in Python**

n some cases, date and time could be passed as a string object. To convert a string into a datetime object, we can use the strptime() function of a datetime module.

For example, you may need to convert a numerical string like 13-05-2021 to a datetime object. or you want to convert string representing dates like Monday, 13 May, 2021 to a datetime object.

Use this step if you want to convert a string to a time object. Use the time.strptime(string[, format]) function. This function converts time in string format to a time object in time.struct_time format.

Exercise 2: Convert string into a datetime object

In [ ]:
date_str = 'Feb 25 2020 4:20PM'
date_object = datetime.strptime(date_str, '%b %d %Y %I:%M%p')
print(date_object)

2020-02-25 16:20:00

Exercise 3: Subtract a week (7 days)  from a given date in Python

In [ ]:
from datetime import datetime, timedelta

given_date = datetime(2020, 2 ,27)
days_to_subtract = 7

prior_date = given_date - timedelta(days = days_to_subtract)
prior_date = prior_date.strftime("%Y-%m-%d")

print(f"The given data is {given_date}. \nThe date after subtracting {days_to_subtract} is {prior_date}")

The given data is 2020-02-27 00:00:00.
The date after subtracting 7 is 2020-02-20

[Python DateTime Format Using Strftime()](https://pynative.com/python-datetime-format-strftime/)

**strftime() Date Format Codes**

Dates have a default representation, but you may want to print them in a specific format. In that case, you can get a custom string representation using the different format codes

The strftime() uses some standard directives to represent a datetime in a string format. The same set of directives are shared between both the strptime() and strftime() methods.

Below are the character codes to format the date and time:

`%d`: Returns the day of the month, from 1 to 31.

`%m`: Returns the month of the year, from 1 to 12.

`%Y`: Returns the year in four-digit format (Year with century). like, 2021.

`%y`: Reurns year in two-digit format (year without century). like, 19, 20, 21

`%A`: Returns the full name of the weekday. Like, Monday, Tuesday

`%a`: Returns the short name of the weekday (First three character.). Like, Mon, Tue

`%B`: Returns the full name of the month. Like, June, March

`%b`: Returns the short name of the month (First three character.). Like, Mar, Jun

`%H`: Returns the hour. from 01 to 23.

`%I`: Returns the hour in 12-hours format. from 01 to 12.

`%M`: Returns the minute, from 00 to 59.

`%S`: Returns the second, from 00 to 59.

`%f`: Return the microseconds from 000000 to 999999

`%p`: Return time in AM/PM format

`%c`: Returns a locale’s appropriate date and time representation

`%x`: Returns a locale’s appropriate date representation

`%X`: Returns a locale’s appropriate time representation

`%z`: Return the UTC offset in the form `±HHMM[SS[.ffffff]]` (empty string if the object is naive).

`%Z`: Return the Time zone name (empty string if the object is naive).

`%j`: Returns the day of the year from 01 to 366

`%w`: Returns weekday as a decimal number, where 0 is Sunday and 6 is Saturday.

`%U`: Returns the week number of the year (Sunday as the first day of the week) from 00 to 53

`%W`: Returns the week number of the year (Monday as the first day of the week) from 00 to 53

Exercise 4: Print a date in a the following format
`Day_name  Day_number  Month_name  Year`

In [ ]:
from datetime import datetime
given_date = datetime(2020, 2, 25)

print("Given date is")
print(given_date.strftime('%A %d %B %Y'))

Given date is
Tuesday 25 February 2020

Exercise 5: Find the day of the week of a given date

In [ ]:
given_date = datetime(2020, 7, 26)
day =  given_date.strftime('%A')
print(f"{given_date.strftime('%d-%m-%Y')} is {day}")

# Solution 2-Calender module
import calendar
weekday = calendar.day_name[given_date.weekday()]
print(f"{given_date.strftime('%d-%m-%Y')} is {weekday}")

26-07-2020 is Sunday
26-07-2020 is Sunday

Exercise 6: Add a week (7 days) and 12 hours to a given date

In [ ]:
given_date = datetime(2020, 3, 22, 10, 0, 0)
next_date = given_date + timedelta(days=7, hours=12)

print(f"The new date is {next_date}")

The new date is 2020-03-29 22:00:00

Exercise 7: Print current time in milliseconds

In [ ]:
import time
# The time.time() function can also be used to get the current time.
milliseconds = int(round(time.time() * 1000))

print(milliseconds)

1716962420364

Exercise 8: Convert the following datetime into a string
```
given_date = datetime(2020, 2, 25)
```
Expected output:
```
"2020-02-25 00:00:00"
```

In [ ]:
given_date = datetime(2020, 2, 25)
print(f"The given date is {given_date.strftime('%Y-%m-%d %H:%M:%S')}")

The given date is 2020-02-25 00:00:00

Exercise 9: Calculate the date 4 months from the current date

In [ ]:
current_date = datetime(2020, 2, 25)
next_date = current_date + timedelta(days = 4*30)
next_date = next_date.strftime('%Y %m %d')

print(f'The next date is {next_date}')
print("This date doesn't consider varying number of days in months")

# Correct solutions
from dateutil.relativedelta import relativedelta

months_to_add = 4
next_date = given_date + relativedelta(months =+ months_to_add)
next_date = next_date.strftime('%Y %m %d')

print(f'The correct next date is {next_date}')

The next date is 2020 06 24
This date doesn't consider varying number of days in months
The correct next date is 2020 06 25

Exercise 10: Calculate number of days between two given dates

In [ ]:
date_1 = datetime(2020, 2, 25)
date_2 = datetime(2020, 9, 17)

delta = None

if date_1 > date_2:
    delta = date_1 - date_2
else:
    delta = date_2 - date_1
print(f"Difference is {delta.days} days.")

# Solution 2
import numpy as np
delta = np.abs(date_1 - date_2)
print(f"Difference is {delta.days} days.")

Difference is 205 days.
Difference is 205 days.

### Python random Data generation italicized text

[Python random Data generation Exercise](https://pynative.com/python-random-number-generation-exercise-questions-and-challenge/)

Exercise 1: Generate 3 random integers between 100 and 999 which is divisible by 5

In [ ]:
import random

#output = random.randrange(100, 999, 5)
print("Generating 3 random integer number between 100 and 999 divisible by 5")
for i in range(3):
    output = random.randrange(100, 999, 5)
    i += 1
    print(output, end=', ')

Generating 3 random integer number between 100 and 999 divisible by 5
590, 985, 295,

Exercise 2: Random Lottery Pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner.

In [ ]:
# Generaing a list of 100 random numbers
ticket = []
print("creating 100 random lottery tickets")

for i in range(100):
    ticket.append(random.randint(1000, 9999))

winner = random.sample(ticket, k = 2)
print("Lucky 2 lottery tickets are", winner)

creating 100 random lottery tickets
Lucky 2 lottery tickets are [8753, 9004]

#### Python Secrets Module to Generate secure random numbers for managing secrets

The cryptographically secure random generator generates random data using synchronization methods to ensure that no two processes can obtain the same data simultaneously.
Use the secrets module for following standard security-related functions.
1. Generating random numbers,
2. Creating passwords and OTP.
3. Random token.
4. Password recovery safe URLs and session keys.

```
import secrets

# Getting systemRandom class instance out of secrets module
secretsGenerator = secrets.SystemRandom()

# secure random integer numbers
random_number = secretsGenerator.randint(0, 50)
print(random_number)
# Output 38

# secure random integer number within given
random_number2 = secretsGenerator.randrange(4, 40, 4)
print(random_number2)
# Output 32

# Secure Random choice using secrets
number_list = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
secure_choice = secretsGenerator.choice(number_list)
print(secure_choice)
# Output 60

# Secure Random sample
secure_sample = secretsGenerator.sample(number_list, 3)
print(secure_sample)
# output [12, 42, 48]

# Secure Random float number
secure_float = secretsGenerator.uniform(2.5, 25.5)
print(secure_float)
# Output 18.062235454990407
 Run
```

![image.png]()

Exercise 3: Generate 6 digit random secure OTP

Exercise 4: Pick a random character from a given String

In [ ]:
string = 'Elaheh'
print("The random character is:", random.choice(string))

The random character is: h

Exercise 5: Generate random String of length 5

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
ans = []
for i in range(5):
    ans.append(random.choice(alphabet))
print("Random String is ", "".join(ans))

# Solution two using ascii_letters
import random
import string

def randomString(stringLength):
    """Generate a random string of 5 charcters"""
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(stringLength))

print ("Random String is ", randomString(5) )

Random String is  XHyCC
Random String is  tLBtK


Exercise 6: Generate a random Password which meets the following conditions

Exercise 7: Calculate multiplication of two random float numbers

In [ ]:
num1 = random.random()
num2 = random.random()
print("Multiplication of two random float numebrs is", num1*num2)

Multiplication of two random float numebrs is 0.37859745227436337

**Note:**

First random float number must be between 0.1 and 1

Second random float number must be between 9.5 and 99.5

In [ ]:
num1 = random.random()
num2 = random.uniform(9.5, 99.5)

print("Multiplication of two random float numebrs is", num1*num2)

Multiplication of two random float numebrs is 26.72290740049877

Exercise 8: Generate random secure token of 64 bytes and random URL

Exercise 9: Roll dice in such a way that every time you get the same number

In [ ]:
for i in range(5):
    random.seed(42)
    print("The dice is", random.randint(1,7))

# Solution 2
dice = [1, 2, 3, 4, 5, 6]
print("Randomly selecting same number of a dice")
for i in range(5):
    random.seed(25)
    print(random.choice(dice))

The dice is 6
The dice is 6
The dice is 6
The dice is 6
The dice is 6
Randomly selecting same number of a dice
4
4
4
4
4

*Exercise 10*: Generate a random date between given start and end dates

`time.mktime()` method of Time module is used to convert a time.struct_time object or a tuple containing 9 elements corresponding to time.struct_time object to time in seconds passed since epoch in local time.

This method is the inverse function of time.localtime() which converts the time expressed in seconds since the epoch to a time.struct_time object in local time.

In [ ]:
import time

start_date = '2023-04-25'
end_date = '2024-04-25'

def function(startDate, endDate):
    print("Printing random date between", startDate, " and ", endDate)

    randomGen = random.random
    startTime =

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Python NumPy

[Python NumPy Exercise](https://pynative.com/python-numpy-exercise/)

Exercise 1: Create a 4X2 integer array and Prints its attributes

Note: The element must be a type of unsigned int16. And print the following Attributes: –

The shape of an array.
Array dimensions.
The Length of each element of the array in bytes.

In [ ]:
import numpy as np

arr = np.array([[643, 543], [123, 543], [65, 5], [67, 876]], dtype = np.uint16)

print(f"Printing Numpy array attributes: \n{arr} \nArray shape: {arr.shape}")
print(f"Array dimension: {arr.ndim} \nLength of each element of the array: {len(arr[0])}")

# Or
print(f"Array dimension: {arr.ndim} \nLength of each element of the array: {arr.itemsize}")

Printing Numpy array attributes:
[[643 543]
 [123 543]
 [ 65   5]
 [ 67 876]]
Array shape: (4, 2)
Array dimension: 2
Length of each element of the array: 2
Array dimension: 2
Length of each element of the array: 2

Exercise 2: Create a 5X2 integer array from a range between 100 to 200 such that the difference between each element is 10

In [ ]:
print("Creating 5X2 array using numpy.arange")
arr = np.arange(100, 200, 10)
arr = arr.reshape(5, 2)
print("The output array is: \n", arr)

Creating 5X2 array using numpy.arange
The output array is:
 [[100 110]
 [120 130]
 [140 150]
 [160 170]
 [180 190]]

Exercise 3: Following is the provided numPy array. Return array of items by taking the third column from all rows

sampleArray = numpy.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])

In [ ]:
sampleArray = np.array([[11 ,22, 33], [44, 55, 66], [77, 88, 99]])
newArray = sampleArray[...,2]
print(newArray)

[33 66 99]

Exercise 4: Return array of odd rows and even columns from below numpy array

sampleArray = numpy.array([[3 ,6, 9, 12], [15 ,18, 21, 24],
[27 ,30, 33, 36], [39 ,42, 45, 48], [51 ,54, 57, 60]])

In [ ]:
sampleArray = np.array([[3 ,6, 9, 12], [15 ,18, 21, 24], [27 ,30, 33, 36], [39 ,42, 45, 48], [51 ,54, 57, 60]])

# Slicing
new_arr = sampleArray[::2, 1::2]
print(new_arr)

[[ 6 12]
 [30 36]
 [54 60]]

Exercise 5: Create a result array by adding the following two NumPy arrays. Next, modify the result array by calculating the square of each element

arrayOne = numpy.array([[5, 6, 9], [21 ,18, 27]])

arrayTwo = numpy.array([[15 ,33, 24], [4 ,7, 1]])

In [ ]:
arrayOne = np.array([[5, 6, 9], [21 ,18, 27]])
arrayTwo = np.array([[15 ,33, 24], [4 ,7, 1]])

arr = arrayOne + arrayTwo

# Vectorization?!
# Vectorization in NumPy refers to the process of using vectorized operations
# instead of loops to perform computations on data. Vectorized operations are
# much faster than loops, as they can be executed using highly optimized C and
# Fortran code.

arr = arr*arr
print("Solution 1: \n", arr)

print("Solution 2: \n", np.square(np.add(arrayOne, arrayTwo)))

Solution 1:
 [[ 400 1521 1089]
 [ 625  625  784]]
Solution 2:
 [[ 400 1521 1089]
 [ 625  625  784]]

Exercise 6: Split the array into four equal-sized sub-arrays

Note: Create an 8X3 integer array from a range between 10 to 34 such that the difference between each element is 1 and then Split the array into four equal-sized sub-arrays.

In [ ]:
arr = np.arange(10, 34, 1).reshape(8, 3)
print("Creating an 8*3 array using Numpy", arr)

print("Dividing the array into 4 equali-sized sub arrays:")
sub_arr = np.split(arr, 4)
sub_arr

Creating an 8*3 array using Numpy [[10 11 12]
 [13 14 15]
 [16 17 18]
 [19 20 21]
 [22 23 24]
 [25 26 27]
 [28 29 30]
 [31 32 33]]
Dividing the array into 4 equali-sized subaarays:

[array([[10, 11, 12],
        [13, 14, 15]]),
 array([[16, 17, 18],
        [19, 20, 21]]),
 array([[22, 23, 24],
        [25, 26, 27]]),
 array([[28, 29, 30],
        [31, 32, 33]])]

Exercise 7: Sort following NumPy array

Case 1: Sort array by the second row

Case 2: Sort the array by the second column

sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])

In [ ]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
print("The original array: \n", sampleArray)
# Case 1
sort_by_row = sampleArray[:, sampleArray[1,:].argsort()]
# The line of code sort_by_row = sampleArray[:, sampleArray[1,:].argsort()]
# reorders the columns of the sampleArray based on the sorted order of the
# elements in the second row. The result is a new array sort_by_row where the
# columns have been rearranged such that the second row is sorted in ascending
# order.
print("Sorting Original array by secoond row")
print(sort_by_row)

# Case 2
sort_by_column = sampleArray[sampleArray[:, 1].argsort(), :]
print(sort_by_column)

The original array:
 [[34 43 73]
 [82 22 12]
 [53 94 66]]
Sorting Original array by secoond row
[[73 43 34]
 [12 22 82]
 [66 94 53]]
[[82 22 12]
 [34 43 73]
 [53 94 66]]

Exercise 8: Print max from axis 0 and min from axis 1 from the following 2-D array.

sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])

In [ ]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
print("Max:", np.max(sampleArray, axis = 0))
print("Min:", np.min(sampleArray, axis = 1))

# np.amax: This is the full name of the function and is often preferred in more
# formal or detailed code because it is explicit and clear about what operation
# is being performed.
# np.max: This is the shorter alias and might be preferred for brevity,
# especially in interactive sessions or when writing quick scripts.

Max: [82 94 73]
Min: [34 12 53]

Exercise 9: Delete the second column from a given array and insert the following new column in its place.

sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])

newColumn = numpy.array([[10,10,10]])

In [ ]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])

### Python Pandas

[Python Pandas Exercise](https://pynative.com/python-pandas-exercise/)

### Python JSON

[Python JSON Exercise](https://pynative.com/python-json-exercise/)

### Python Matplotlib

[Python Matplotlib Exercise](https://pynative.com/python-matplotlib-exercise/)

### Python Database Programming

[Python Database Programming Exercise](https://pynative.com/python-database-programming-exercise-with-solution/)

### Exercises for Intermediate developers

[Exercises for Intermediate developers](https://pynative.com/python-exercises-with-solutions/) (Scroll down)

### Useful Python Tips and Tricks Every Programmer Should Know

[Useful Python Tips and Tricks Every Programmer Should Know](https://pynative.com/useful-python-tips-and-tricks-every-programmer-should-know/)